.vs/
x64/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
CMakeFiles/
CMakeCache.txt
*.sln
*.dir/
*.cmake
*.exe
*.pdb
*.lib
*.pyd
.VsCodeCounter
*.sshader
*.pyc
*.exp
Exporter/paths.txt
include/glslang
include/
.idea/
Testing/
cmake-*
Makefile
lib/
bin/imgui.ini
bin/SmoothieEditor
bin/ShaderCompiler
bin/Demo
.idea/vcs.xml
*.ninja